<%- include("partials/header.ejs") %>

  <body>
    <div class="bodyPadding container-fluid">
      <p class="mqStyle">
        <%=dateAndDay%>
      </p>
      <div class="parentCont">
        <form action="/" method="post" class="newTask">
          <input type="text" id="newNote" name="newNote" placeholder="Add a new task....." /><button
            type="submit">Add</button>

          <br />
        </form>
      </div>
      <div class="container">
        <main class="existingTasks">
          <ul class="existingTasks ul fade-in">
            <% addedTasks.forEach((addedTasks)=> { %>
              <li class="existingTasks liBox open">
                <div class="check" id="Slider">
                  <div class="listyle">
                    <input type="checkbox" id="<%= addedTasks %>" class="cb" value="cb" />
                    <label for="cb" data-content="<%=addedTasks%>">
                      <%=addedTasks%>
                    </label>
                  </div>
                </div>

              </li>
              <% }) %>
          </ul>
        </main>
      </div>
    </div><%- include("partials/footer.ejs") %>
  </body>

  </html>